<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150068919703-frc9svv2ssrbni04kqb4e54b90021m15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150068919703-frc9svv2ssrbni04kqb4e54b90021m15</string>
	<key>API_KEY</key>
	<string>AIzaSyDb83aaiFodcbn2B2aXFeI4ZGLxv8MmGRY</string>
	<key>GCM_SENDER_ID</key>
	<string>150068919703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.O2A.Ketchup</string>
	<key>PROJECT_ID</key>
	<string>ios-ketchup</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-ketchup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150068919703:ios:59230ae153519e6c8e98d2</string>
</dict>
</plist>