<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Id</key>
	<integer>4</integer>
	<key>Family Name</key>
	<string>KyoboHandwriting2019</string>
	<key>Default</key>
	<string>KyoboHandwriting2019</string>
	<key>Medium</key>
	<string>KyoboHandwriting2019</string>
	<key>Bold</key>
	<string>KyoboHandwriting2019</string>
</dict>
</plist>
